/**
 * Custom pink theme
 */

// Default mixins and settings
@import "../template/mixins";
@import "../template/settings";


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$mainColor: #333;
$headingColor: #B52467;
$backgroundColor: #f1f1f1;
$mainFont: 'Open Sans', sans-serif;
$linkColor: #34aaff;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #134674;

$heading1Size: 1.953em;
$heading2Size: 1.563em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template
@import "../template/theme";


// Custom theme css
.reveal li {
  margin-bottom: 0.25em;
}

.reveal .slides {
  text-align: left;
}

.keyboard-only {
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: #f1f1f1;
  border: 1px solid #B52467;
}

.keyboard-only:focus {
  transform: translateY(0%);
}